
<nav class="navbar navbar-default navbar-inverse" role="navigation">
			<div class="navbar-header">
				<div class="container pull-left">
					<nav>
				<a class="navbar-brand pull-left" href="#">
						<li><%= link_to "Movies", "#" %></li>
						<li><%= link_to "Log Out", users_path %></li>
				</a>
			        </nav>
				</div>
			</div>
</nav>
<h1> Movie List </h1>
