<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
<%= render "logging" %>
<div class="center hero-unit"><h1> Sign in or sign up to book tickets for your favourite movies!</h1></div>


