<div class="Sign_Form">
	<nav class="navbar navbar-default navbar-inverse" role="navigation">
			<div class="navbar-header">
				<div class="container pull-left">
					<nav>
				<a class="navbar-brand pull-left" href="#">
						<li><%= link_to "Home", users_path %></li>
						<li><%= link_to "Sign In", sessions_login_path %></li>
						
				</a>
			        </nav>
				</div>
			</div>
</nav>
<h1>Sign Up</h1>
<%= form_for(:user, :url => {:controller => 'users', :action => 'create'}) do |f| %>
<p> Username:</br> <%= f.text_field :name %> </p>
<p> Password:</br> <%= f.password_field :password%></p>
<p>Password Confirmation:</br> <%= f.password_field :password_confirmation %></p>
<%= f.submit :Signup %>

<% end %>
<% if @user.errors.any? %>
<ul class="Signup_Errors">
<% for message_error in @user.errors.full_messages %>
<li><%= message_error %></li>
<% end %>
</ul>
<% end %>
</div>