// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap"

h1 
	font-family: 'Lobster', cursive
	font-size: 100px
	text-align: center
	font-color: gray

.center 
	padding: 40px
	background: #cccccc
