<nav class="navbar navbar-default navbar-inverse" role="navigation">
			<div class="navbar-header">
				<div class="container pull-left">
					<nav>
				<a class="navbar-brand pull-left" href="#">
						<li><%= link_to "Home", users_path %></li>
						<li><%= link_to "Sign In", sessions_login_path %></li>
						<li><%= link_to "Sign Up", users_new_path %></li>
				</a>
			        </nav>
				</div>
			</div>
</nav>